{% extends "cpanel/master_layout.html" %}
{% block content %}
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">{{ title }}</h1>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            width: 5px;
            background: #f5f5f5;
        }

        ::-webkit-scrollbar-thumb {
            width: 1em;
            background-color: #ddd;
            outline: 1px solid slategrey;
            border-radius: 1rem;
        }

        .text-small {
            font-size: 0.9rem;
        }

        .messages-box,
        .chat-box {
            height: 750px;
            overflow-y: scroll;
        }

        .rounded-lg {
            border-radius: 0.5rem;
        }

        input::placeholder {
            font-size: 0.9rem;
            color: #999;
        }

    </style>
    <div class=" py-5 px-4">

        <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-3 px-0">
                <div class="bg-white">

                    <div class="bg-gray px-4 py-2 bg-light">
                        <p class="h5 mb-0 py-1">Recent</p>
                    </div>

                    <div class="messages-box">
                        <div class="list-group rounded-0">
                            {% if participants %}
                            {% for p in participants %}
                                <a class="list-group-item list-group-item-action text-white rounded-0"
                                    href="#goto_chat">
                                    <div class="media">
<!--                                        <img-->
<!--                                            src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg"-->
<!--                                            alt="user" width="50" class="rounded-circle"> -->
                                        <div class="media-body ml-4">
                                            <div class="d-flex align-items-center justify-content-between mb-1">
<!--                                                <?php $unread = $p->getUnReadMessagesCountOfParticipant(); ?>-->
<!--                                                <h6 class="mb-0" style="color:black;"> $p->name @if ($unread > 0)<span-->
<!--                                                            class="badge badge-warning"> $unread</span>-->
<!--                                                    @endif-->
<!--                                                </h6>-->
                                                <small style="color:black;"
                                                    class="small font-weight-bold">created_at</small>
                                            </div>
<!--                                            <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur-->
<!--                                                adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                            {% else %}
                            <h3>You don't have any chats</h3>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

            <!-- Chat Box-->
            <div class="col-9 px-0">
                <div class="px-4 py-5 chat-box bg-white" id="messages">
                    {% if is_chats %}
                        {% if chats %}
                            {% for c in chats %}
                                {% if c.amISender == 1 %}
                                    <!-- Sender Message-->
<!--                                    <div class="media w-50 mb-3">-->
<!--                                        <div class="media-body ml-3">-->
<!--                                            <div class="bg-light rounded py-2 px-3 mb-2">-->
<!--                                                <p class="text-small mb-0 text-muted"> $c->message }}</p>-->
<!--                                            </div>-->
<!--                                            <p class="small text-muted"> $c->created_at }}</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                {% else %}
                                    <!-- Reciever Message-->
<!--                                    <div class="media w-50 ml-auto mb-3">-->
<!--                                        <div class="media-body">-->
<!--                                            <div class="bg-primary rounded py-2 px-3 mb-2">-->
<!--                                                <p class="text-small mb-0 text-white"> $c->message }}</p>-->
<!--                                            </div>-->
<!--                                            <p class="small text-muted"> $c->created_at }}</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2>You don't have any chat</h2>
                        {% endif %}
                    {% else %}
                        <h2>Click on client to chat</h2>
                    {% endif %}
                </div>

                <!-- Typing area -->
                <form action="#" class="bg-light">
                    <div class="input-group">
                        <input type="text" placeholder="Type a message" id="msg" aria-describedby="button-addon2"
                            class="form-control rounded-0 border-0 py-4 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon2" type="submit" class="btn btn-link"> <i
                                    class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script>
        // @if ($is_chats)
        //     $("#button-addon2").click(function(e) {
        //     e.preventDefault();
        //     var msg = $("#msg").val();
        //     if (msg.trim() == '') {
        //     return false;
        //     }
        //     var token = "csrf_token() }}";
        //
        //     var send_url = " route('chatboard.store') }}";
        //     $.ajax(send_url, {
        //     method: 'POST',
        //     data: {
        //     "_token": token,
        //     "msg": msg,
        //     "p_id": $participant->p_id }}
        //     },
        //     headers: {
        //     'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        //     },
        //     success: function(data) {
        //     if (data.isSent) {
        //     $('#messages').append(data.message);
        //     $("#msg").val('');
        //     } else {
        //     alert('Error occurred, please try again.');
        //     }
        //     }
        //     })
        //     })
        //
        //
        //     function get_messages(){
        //     var url = " route('chatboard.edit', $participant->p_id) }}";
        //     console.log(url);
        //     $.ajax(url, {
        //     method: 'GET',
        //     headers: {
        //     'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
        //     },
        //     success: function(data) {
        //     if (data.isFound) {
        //     $('#messages').html(data.chats);
        //     } else {
        //     // alert('Error occurred, please try again.');
        //     }
        //     }
        //     })
        //     }
        //     setInterval(get_messages ,5000);
        // @endif
    </script>

<!--    @if ($is_chats)-->
<!--        <?php $participant->makeChatReadForTheParticipant(); ?>-->
<!--    @endif-->

    </div>

</section>
{% endblock %}
