email-validator
Flask
Flask-Bcrypt
Flask-Classful
Flask-Login
flask-marshmallow
Flask-Migrate
flask-serialize
Flask-Session
Flask-SQLAlchemy
Flask-WTF
gunicorn
Jinja2
PyMySQL
SQLAlchemy
SQLAlchemy-serializer

